<p style="color: red">Details:</p>
<h2> Title: <%= @article.title %> </h2>
<h3> Content: <%= @article.content %> </h3>

<small style="font-size: 10px; color: red">
  <%= link_to "/home", "/articles" %>
</small>